* {
  box-sizing: border-box;
  --red: #ff0000;
}

.cont{
  margin: 5rem 2px;
}
.type_card{
  .card-body{
    p{
      cursor: pointer;
    }
  }
}
.card{
  margin: .5rem 3px;
}
.product_card {
  width: 20%;
  padding: 12px;
  cursor: pointer;
  .card-body{
      h5 {
        direction: ltr;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 240px;
      }
      .styleprice {
        display: flex;
        justify-content: space-evenly;
        p {
          font-size: 17x;
          font-weight: bold;
        }
      }
  }
  img {
    height: 250px;
    padding: 1rem;
    margin-top: 6px;
    transition: 1s;
  }
  img:hover {
    transform: scale(1.1);
  }
  .stylealert {
    width: 100%;
    margin: 0px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 1s;
  }

  img,
  .card-img-overlay {
    // opacity: .7;
    height: 400px;
    padding: 1rem;
    transition: 1s;
  }
  img:hover,
  .card-img-overlay:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
  .card:hover .stylealert {
    opacity: 1;
  }
