<!-- Electronic Device -->
<div class="container">
  <h2 lang="ar" class="my-4 mx-4 text-end">المنتجات</h2>
  <div class="row">
    <ng-container *ngFor="let item of productList.products | filter:searchKey:'name'">
      <div
        routerLink="/details"
        (click)="showOnDetails(item)"
        class="card col-12 col-md-3"
      >
        <img src="{{ item.image }}" alt="" />
        <h3 class="ms-auto text-start">{{ item.name }}</h3>
        <p class="me-auto">$ {{ item.price }}</p>
        <del class="me-auto">$ {{ item.old_price }} </del>
      </div>
    </ng-container>
  </div>
</div>

<!-- Clothes -->
<!-- <div class="container">
      <h2 lang="ar" class="my-4 mx-4 text-end">الملابس</h2>
      <div class="row">
        <ng-container *ngFor="let item of pClothesList">
          <div
            routerLink="/details"
            (click)="showOnDetails(item)"
            class="card col-md-3"
          >
            <img src="{{ item.image }}" alt="" />
            <h3 class="ms-auto text-start">
              {{ item.name }}
            </h3>
            <p class="me-auto">{{ item.price }} جنيه</p>
            <del class="me-auto">{{ item.old_price }} جنيه</del>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Sports -->
