<!-- old -->
<!-- <div class="container ms-5">
  <div class="row">
    <div class="card col-md-6 col-12">
      <img src="{{ getOneProduct.image }}" alt="not found" />
    </div>
    <div class="card second col-md-6 col-12">
      <div>
        <h3 class="my-5">{{ getOneProduct.name }}</h3>
        <br />
        <br />
        <span class="ms-4"
          ><strong>$ {{ getOneProduct.price }} </strong></span
        >
        <span style="color: #cecece">
          $ <del>{{ getOneProduct.old_price }}</del>
        </span>

        <h4 class="color">Color :</h4>
        <input type="color" value="#2e0fb6" />
        <input type="color" value="#9c6d6d" />
        <input type="color" />
        <h4 class="color">Size :</h4>
        <select class="ps-5" name="select">
          <option value="xs">XS</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
          <option value="xxl">XXL</option>
        </select>
        <h4 class="color">Quantity :</h4>
        <span class="quantity">
          <span style="cursor: pointer">-</span>
          <span style="color: black">1</span>
          <span style="cursor: pointer">+</span>
        </span>
        <button>Add To Cart</button>
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
</div> -->

<!-- new -->
<div class="card mb-3" style="max-width: 600px">
  <div class="row g-0">
    <div class="col-md-2 images">
      <ng-container *ngFor="let image of getOneProduct.images">
        <img src="{{ image }}" class="img-fluid rounded-start" alt="..." />
      </ng-container>
    </div>
    <div class="col-md-4 image">
      <img
        src="{{ getOneProduct.image }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title fs-6 d-inline-block text-start">
          {{ getOneProduct.name }}
        </h5>
        <div class="styleprice">
          <p class="card-text text-muted">{{ "$ " + getOneProduct.price }}</p>
          <div
            *ngIf="getOneProduct.discount != 0; then blockthen; else blockelse"
          ></div>
          <ng-template #blockthen>
            <p class="card-text text-danger text-decoration-line-through">
              {{ "$ " + getOneProduct.old_price }}
            </p>
          </ng-template>
          <ng-template #blockelse>
            <p></p>
          </ng-template>
        </div>

        <!-- <p class="card-text">
          <small class="text-muted">Quantity: </small>
        </p> -->

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Add to Card</button>
        </div>
      </div>
    </div>
  </div>
</div>
